<ion-content [fullscreen]="true">
  <!-- Fondo con efecto -->
  <div class="background"></div>

  <div class="login-box ion-padding">
    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/imgs/aqademLogo.png" alt="Logo App" class="app-logo" />
    </div>

    <h1 class="login-title">Iniciar sesión</h1>

    <!-- Formulario de login -->
    <form (ngSubmit)="login()" novalidate>

    <!-- Usuario -->
     <p>becarios@linared.com</p>
    <ion-item lines="none" class="input-with-icon">
      <ion-icon name="person-outline" slot="start" class="input-icon"></ion-icon>
      <ion-input
        placeholder="Usuario"
        [(ngModel)]="username"
        name="username"
        maxlength="50"
        required
      ></ion-input>
    </ion-item>

    <!-- Contraseña -->
     <p>UserPrueba%1</p>
    <ion-item lines="none" class="input-with-icon">
      <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
      <ion-input
        placeholder="Contraseña"
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        name="password"
        maxlength="50"
        required
      ></ion-input>
      <ion-icon
        [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
        slot="end"
        class="password-toggle"
        (click)="togglePassword()"
      ></ion-icon>
    </ion-item>

    <!-- Código de centro -->
     <p>TESTAQ</p>
    <ion-item lines="none" class="input-with-icon">
      <ion-icon name="business-outline" slot="start" class="input-icon"></ion-icon>
      <ion-input
        placeholder="Código de centro"
        [(ngModel)]="codigoHost"
        name="codigoHost"
        (ionInput)="onInputChange($event, 'codigoHost')"
        maxlength="20"
        required
      ></ion-input>
    </ion-item>

      <!-- Error message -->
      <ion-text color="danger" *ngIf="errorMessage">
        <p class="error-message">{{ errorMessage }}</p>
      </ion-text>

      <!-- Botón de login -->
      <ion-button
        expand="block"
        class="login-btn"
        type="submit"
        [disabled]="loading"
      >
        <ion-spinner *ngIf="loading" slot="start" name="crescent"></ion-spinner>
        Entrar
      </ion-button>

      <!-- Separador visual -->
      <div class="separator">
        <div class="line"></div>
        <span>o</span>
        <div class="line"></div>
      </div>

      <!-- Botón biométrico -->
      <ion-button
        expand="block"
        fill="outline"
        color="medium"
        (click)="iniciarConHuella()"
      >
        <ion-icon name="finger-print-outline" slot="start"></ion-icon>
        Login con Huella / FaceID
      </ion-button>

    </form>
  </div>
</ion-content>
