<ion-content>
  <div class="background"></div>

  <div class="login-box">
    <div class="divLogo">
      <img src="assets/imgs/aqademLogo.png" alt="Logo App" class="app-logo" />
    </div>

    <h1>Iniciar sesión</h1>



    <ion-item lines="none" class="input-with-icon">
      <ion-icon name="business-outline" slot="start" class="input-icon"></ion-icon>
      <ion-input placeholder="Código de centro" (ionInput)="onInputChange($event)" [(ngModel)]="codigoCentro" maxlength="20" type="text"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-with-icon">
      <ion-icon name="person-outline" slot="start" class="input-icon"></ion-icon>
      <ion-input placeholder="Usuario" (ionInput)="onInputChange($event)" [(ngModel)]="username" maxlength="20" type="text"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-with-icon">
      <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
      <ion-input placeholder="Contraseña" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" (ionInput)="onInputChange($event)" maxlength="20"></ion-input>
      <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" class="password-toggle" (click)="togglePassword()"></ion-icon>
    </ion-item>

    <ion-button expand="block" (click)="iniciarConHuella()">
      <ion-icon name="finger-print-outline" slot="start"></ion-icon>
      Login con Huella / FaceID
    </ion-button>


    <ion-text color="danger" *ngIf="errorMessage">
        <p class="ion-padding warningP">{{ errorMessage }}</p>
    </ion-text>

    <ion-button expand="block" class="login-btn" (click)="login()">Entrar</ion-button>
  </div>
</ion-content>
