<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clases" href="/tabs/clases">
      <ion-icon name="book"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mensajes" href="/tabs/mensajes">
      <ion-icon name="chatbubble"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
