// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-aqademPrimary: #105B88;
  --ion-color-aqademButton1: #15BCC9;
  --ion-color-aqademButton2: #11AAAA;
}