<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Mis Clases</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="clases-content" fullscreen>
  <!-- Buscador -->
  <ion-toolbar *ngIf="showSearch" class="search-toolbar">
    <ion-searchbar
      [(ngModel)]="searchText"
      (ionInput)="filterClases()"
      (ionClear)="onClear()"
      placeholder="Buscar asignatura..."
      debounce="200"
      autofocus>
    </ion-searchbar>
  </ion-toolbar>

  <!-- Lista de clases -->
  <div class="clases-list">
    <div *ngFor="let clase of filteredClases" class="clase-card">
      <div class="clase-card-content">
        <!-- Encabezado de la clase -->
        <div class="clase-header">
          <div [ngClass]="['clase-icon', getAvatarClass(clase.icon)]">
            <ion-icon [name]="clase.icon"></ion-icon>
          </div>
          <div class="clase-info">
            <h2 class="clase-nombre">{{ clase.nombre }}</h2>
            <div class="clase-detalles">
              <span class="detalle-item">
                <ion-icon name="time-outline"></ion-icon>
                <span>{{ clase.horario }}</span>
              </span>
              <span class="detalle-item">
                <ion-icon name="location-outline"></ion-icon>
                <span>{{ clase.salon }}</span>
              </span>
            </div>
          </div>
          <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
        </div>

        <!-- Pie de la clase -->
        <div class="clase-footer">
          <div class="alumnos-info">
            <ion-icon name="people-outline"></ion-icon>
            <span>{{ clase.alumnos }} Alumnos</span>
          </div>
          <ion-button fill="clear" class="btn-detalles">
            Ver detalles
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
